/* -------------------------font-style-------------------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-fonts {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* --------------------shared-style---------------------- */

.display-flex {
  display: flex;
}
.display-grid {
  display: grid;
}
.orange-color {
  color: #fea301;
}
.sky-blue {
  color: skyblue;
}
.color-3 {
  color: #8700ff;
}

/* ------------------------body-style----------------------- */

body {
  /* max-width: 1440px; */
  margin: 0 auto;
  background-image: url(./assets/bg.png);
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* border: 1px solid black; */
}
/* section {
  max-width: 1160px;
  margin: auto;
}
header {
  max-width: 1160px;
  margin: auto;
} */

/* ----------------------navbar-style--------------------- */

.navbar {
  max-width: 1160px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.nav-logos {
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav-title {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin: auto;
}
.nav-links {
  gap: 32px;
}
nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
}
.nav-item {
  font-size: 1.25rem;
  font-weight: bold;
}
.home {
  color: #fea301;
}
.about {
  color: skyblue;
  font-weight: 500;
}
.facilities {
  color: #05d4df;
  font-weight: 500;
}
.admission {
  color: #5d58ef;
  font-weight: 500;
}
.nav-btn {
  color: white;
  background-color: #fea301;
  border-radius: 10px;
  border: none;
  padding: 10px 50px;
  font-weight: 600;
}
.hamburger-menu {
  display: none;
}

/* -----------------------banner-style----------------------- */
.banner-container {
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
}
.banner-content {
  max-width: 640px;
}

.banner-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: black;
  margin: 0px;
}
.banner-des {
  font-size: 1.25rem;
  font-weight: 400;
  color: black;
}
.banner-btn {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: none;
  padding: 10px 50px;
}

/* ------------------------standard-curriculum-style------------ */
.curriculum-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 80px;
  background-image: url(./assets/bg.png);
}
.section-title {
  font-size: 2.95rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 0px;
  /* margin-top: 60px; */
  /* margin-bottom: 60px; */
}
.card-container {
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  max-width: 1160px;
}
.card {
  /* max-width: calc() 368px; */
  text-align: center;
  padding: 50px 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(
    180deg,
    rgba(222, 245, 255, 1),
    rgba(255, 255, 255, 1)
  );
}
.card-b-linear {
  background-image: linear-gradient(
    180deg,
    rgba(255, 244, 220, 1),
    rgba(255, 255, 255, 0)
  );
}
.card-c-linear {
  background-image: linear-gradient(
    180deg,
    rgba(238, 225, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #202020;
}
.card-des {
  font-size: 0.95rem;
  font-weight: 500;
  color: #808080;
  margin: 20px 0;
  /* max-width: 286px; */
}
.card-btn {
  font-size: 0.95rem;
  font-weight: bold;
  background-color: white;
  border: none;
  margin: 20px auto;
}
.arrow-container {
  text-align: center;
  margin-bottom: 60px;
}
.card-arrow {
  color: white;
  background-color: orange;
  border-radius: 50%;
  border: none;
  padding: 10px 12px;
}

/* --------------------------our-stories--style------------------- */

.stories-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-align: center;

  background-image: linear-gradient(
      0deg,
      rgba(254, 183, 55, 1),
      rgba(255, 255, 255, 1)
    ),
    url(./assets/bg.png);
  background-blend-mode: overlay;
}
.story-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: stretch;
}
.big-card {
  max-width: 540px;
  background-color: white;
  border-radius: 20px;
}

.big-card-content {
  padding: 20px;
}
.story-card-img,
.small-card-images {
  position: relative;
}

.big-card-date {
  font-size: 0.95rem;
  font-weight: 500;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 30px;
  background-color: #3cd8e8;
  position: absolute;
  bottom: -22px;
  /* top: -10px; */
  left: 50px;
}
.small-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}
.small-card {
  border-radius: 20px;
  max-width: 290px;
  max-height: 302px;
  background-color: white;
}
.hide-card{
  display: none;
}
.card-img,
.story-images {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}
.small-card-date {
  font-size: 0.95rem;
  font-weight: 500;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  background-color: #95b226;
  position: absolute;
  bottom: -16px;
  /* top: -10px; */
  left: 40px;
}
.card-2nd-bg {
  background-color: #5d58f0;
}
.small-card-content {
  /* max-width: calc(214px - 20px ); */
  text-align: left;
  margin-top: 20px;
  padding: 20px;
}
.small-card-title {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin: 0px;
}

.view-all-btn {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  margin-bottom: 60px;
}

/* ---------------------------footer-style------------------- */
footer {
  background-color: #01acfd;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  /* align-items: center; */
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1160px;
  margin: 0px auto;
}
.footer-logo {
  /* background-color: white; */
  color: white;
  width: 100%;
  
  height: 90px;
  /* margin: 20px; */
}
.footer-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin: 0px;
}
.footer-des {
  font-size: 1.25rem;
  font-weight: 400;
  color: white;
}
.about-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.footer-link-item,
.touch-item {
  list-style: none;
}
.footer-links {
  flex-direction: column;
  gap: 20px;
}
footer li a {
  text-decoration: none;
  color: white;
}
.keep-in-touch {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.touch-items {
  gap: 20px;
  padding-left: 0px;
}

.marquee {
  font-size: 3rem;
  font-weight: bold;
  color: gray;
}

/* ------------------------responsive-layout---------------- */

@media screen and (max-width: 576px) {
  .hamburger-menu {
    display: inline-block;
  }
  .nav-title,
  .nav-item,
  .arrow-container,
  .story-card {
    display: none;
  }
  .navbar {
    padding: 20px;
    border-bottom: 1px solid orange;
    justify-content: space-between;
  }
  .banner-container {
    flex-direction: column-reverse;
    padding: 15px;
    text-align: center;
  }
  .banner-images {
    width: calc(100% - 40px);
  }
  .banner-title {
    font-size: 2rem;
  }
  .section-title {
    font-size: 2rem;
  }

  .card-container {
    flex-direction: column;
    text-align: center;
    padding: 25px;
  }
  .small-card-container {
    padding: 30px;
    align-items: stretch;
  }
  .small-card {
    width: 174px;
    align-items: stretch;
    /* height:180px; */
  }
  .hide-card{
    display: inline-block;
  }
  .small-card-date {
    max-width: 104px;
    font-size: 0.55rem;
    left: 20px;
    bottom: -12px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    justify-items: left;
    padding-left: 30px;
    padding-right: 30px;
  }
  .marquee {
    font-size: 2rem;
  }
  .footer-logo{
    object-fit: contain;
  }
}
